<div class="form_group">
  <i class='form_label_description'>Password</i>
  <%= password_field_tag :password, nil, class: 'form_text' %>
  <%- if controller_path != 'edit' && controller_name == 'registrations' %>
    <i class='form_label_description'>(leave blank if you don't want to change it)</i>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  <% end %>
</div>
<div class="form_group">
  <i class='form_label_description'>Confirm password</i>
  <%= password_field_tag :password_confirmation, nil, class: 'form_text' %>
</div>
<div class="form_group">
  <i class='form_label_description'>Current password</i>
  <%= password_field_tag :current_password, nil, class: 'form_text' %>
  <%- if controller_path != 'edit' && controller_name == 'registrations' %>
    <i class='form_label_description'>(we need your current password to confirm your changes)</i>
  <% end %>
</div>
